<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    
    <form action="/posts" method="post">


        <input type="text" placeholder="enter ur username" name="name">
        <br>
        <br>
        <br>

        <textarea name="content" id="" rows="10" cols="20" placeholder="Write ur post here"></textarea>

        <br>
        <br>
        <br>
        <button type="submit">Click to Submit post</button>

    </form>
    
</body>
</html>